PORT=3000
DB_HOST=host.docker.internal #host.docker.internal=database của máy chủ, db=container riêng
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=cua_hang_xe_dien
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=
JWT_EXPIRES_IN=1h
EMAIL_USER=
EMAIL_PASS=
ADMIN_USERNAME=
ADMIN_PASSWORD=
MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
MOMO_ENDPOINT=
MOMO_REDIRECT_URL=http://localhost:3001/payment-handle
MOMO_IPN_URL=